@tailwind preflight;
@tailwind utilities;

:root {
  --text-primary: @apply text-grey-darker;
  --text-secondary: @apply text-grey-lighter;
  --primary-bg: @apply grey-darker;
  --secondary-bg: @apply grey-lighter;
}

/* Text Shadow */
.shadow-basic {
  text-shadow: 0.03em 0.03em black;
}

/* Loading Spinner */
.spinner {
  border: 0.05em solid hsla(185, 100%, 62%, 0.2);
  border-top-color: #3cefff;
  border-radius: 50%;
  width: 3em;
  height: 3em;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* Colors */
.txt-primary {
  color: var(--text-primary);
}

.color-primary {
  background-color: var(--primary-bg);
}
